body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-fluid {
  background-color: #cccccc;
  background-image: url('images/nav-bar-logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}

.container-logos {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-around;
  margin: auto;
  width: 70%;
}

.container-fluid h1 {
  color: white;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
}

.btn-seenow {
  padding: 15px 90px;
}
