body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-logos {
  align-items: center;
  background-color: #cccccc;
  background-image: url('images/nav-bar-logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-around;
  width: 100%;
}

.logo {
  padding: 10px;
  width: 200px;
}

.container-logos h1 {
  color: white;
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  width: 43%;
}

.btn-seenow {
  border: none;
  font-weight: 800;
  margin-bottom: 40px;
  padding: 15px 90px;
  text-decoration: none;
}

.categorie-title {
  margin: 20px 50px 55px;
}
.categories {
  padding-left: 20px;
}

.categorie-title h2 {
  color: rgb(41, 40, 40);
  font-size: 60px;
  font-weight: 800;
}

.categories small {
  color: grey;
  font-size: 20px;
  font-weight: 800;
}

.images-categories {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 94%;
}

.card-title {
  color: white;
  font-size: 60px;
  font-weight: 800;
  margin: 20px 30px;
}

.card-small {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 30px;
}

.category-card-0 {
  background-color: #cccccc;
  background-image: url('images/plants.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  flex-grow: 0;
  height: 400px;
  margin: 10px;
  width: 430px;
}

.category-card-1 {
  background-color: #cccccc;
  background-image: url('images/2people.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  flex-grow: 4;
  margin: 10px;
}

.category-card-2 {
  align-items: baseline;
  background-color: #cccccc;
  background-image: url('images/explosion.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 172%;
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  height: 400px;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.category-card-3 {
  align-items: flex-end;
  background-color: #cccccc;
  background-image: url('images/carro.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  margin: 10px;
}

.category-card-4 {
  background-color: #cccccc;
  background-image: url('images/ultima.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 170%;
  flex-grow: 0;
  height: 400px;
  margin: 10px;
  width: 400px;
}

.plans {
  background-color: rgb(244, 244, 244);
  height: 700px;
  margin: auto;
  padding: 10px;
}

.title-plan {
  color: rgb(41, 40, 40);
  font-size: 65px;
  font-weight: 800;
}

.p-plan {
  color: rgb(41, 40, 40);
  font-size: 21px;
  font-weight: 800;
}

.titles-plan {
  float: left;
  margin: 70px 10px -50px 90px;
  padding: 2px;
}

/* // INICIO CSS PARA ÁREA DE PLANOS!!  */

.container-main-plans {
  align-content: flex-start;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
  width: 97%;
}

.container-plans {
  max-width: 13%;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.header-plans {
  align-content: flex-start;
  align-items: center;
  background-color: rgb(0, 84, 153);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.footer-plans {
  align-content: flex-start;
  align-items: center;
  background-color: rgb(0, 136, 237);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 30%;
  justify-content: flex-end;
  text-align: center;
}

.price {
  color: white;
  font-size: 45px;
  font-weight: 800;
}

.price-small {
  color: white;
  font-size: 25px;
  font-weight: 800;
}

.lorem {
  color: white;
}
